<p>
  {# Display search form. #}
  {{ form }}
</p>
<p>
  <h2>These are the search results for {{ param }}</h2>
</p>
{# Display search data if it exists. #}
{% if data %}
  <p>
    <ul>
      {% for item in data %}
        <li>
          <p>
            <h3>{{ item.title }}</h3>
          </p>
          <p>{{ item.text }}</p>
          <a href="{{ item.url }}" target="_blank">
            <p>{{ item.url }}</p>
          </a>
        </li>
      {% endfor %}
    </ul>
  </p>
{% endif %}
